<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pure/0.4.2/pure-min.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
    {% block css %}{% endblock %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/common.js') }}"></script>
    {% block js %}{% endblock %}
</head>
<body data-playlist="off">
    <div class="sidebar">
        <div class="inner">
            {% if not user %}
                <a class="google-login" href="{{ url_for('user.oauth_google') }}">
                    <img src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Long_base_44dp.png">
                </a>
            {% else %}
                <div class="profileBox">
                    <a class="thumbnail" href="#">
                        <img src="{{ user.picture }}">
                    </a>
                    <a class="logout" href="{{ url_for('user.logout') }}" title="logout">
                        <i class="fa fa-sign-out"></i>
                        Sign out
                    </a>
                    <div class="account">
                        <div class="id_str">
                            <a href="#">+{{ user.id_str }}</a>
                        </div>
                        <span class="email">
                            <a href="#">{{ user.email }}</a>
                        </span>
                    </div>
                </div>

                <ul class="menu">
                    <li>
                        <a href="{{ url_for('newsfeed.get_newsfeed') }}" data-ajax=".content">
                            <span class="label">
                                <i class="fa fa-home fa-fw"></i>
                                Home
                            </span>
                        </a>
                    </li>
                    <li class="blank">&nbsp;</li>
                    <li>
                        <a href="{{ url_for('user.archived') }}">
                            <span class="label">
                                <i class="fa fa-star-o fa-fw"></i>
                                Archived Media
                            </span>
                            <span class="value">{{ archived_playlist.item_count|int_with_comma }}</span>
                        </a>
                    </li>

                    <li>
                        <a href="#">
                            <span class="label">
                                <i class="fa fa-list fa-fw"></i>
                                Playlist
                            </span>
                            <span class="value">{{ playlist_number|int_with_comma }}</span>
                        </a>
                    </li>
                </ul>
            {% endif %}

            <div class="maker">
                <span><a href="https://github.com/jeyraof"><i class="fa fa-github"></i> Github</a></span>
                <span class="divider"></span>
                <span><a href="https://twitter.com/jeyraof"><i class="fa fa-twitter"></i> Twitter</a></span>
                <span class="divider"></span>
                <span>2014.05.18.</span>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="content-header">
            <div class="advertise">
                <div class="inner">
                    <div class="meta">
                        <a class="thumbnail" href="#">
                            <img src="https://lh4.googleusercontent.com/-UbmcJUkl-vw/AAAAAAAAAAI/AAAAAAAAAQU/g6FbmQRalys/photo.jpg">
                        </a>
                        <div class="text">
                            <span class="id_str">
                                <a href="#">jaeyoung</a>
                                <span>가 생각하기에 이 아랫놈이 그렇게 도움되는것 같습니다.</span>
                            </span>
                            <a class="date" href="#">{{ today }}</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="newsfeed-more">
                <a href="#">Load more articles...</a>
            </div>
        </div>
        <div class="content-middle">
        {% block content %}{% endblock %}
        </div>
        <div class="content-footer"></div>
    </div>
    <div class="playlist">
        <div class="inner">
            <div class="player">
                <iframe width="100%" height="100%" src="//www.youtube.com/embed/pLGyXH1KImc" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="playlist-item">
                &nbsp;
            </div>
        </div>
    </div>
    <a class="playlist-swc" href="#"><i class="fa fa-bars"></i></a>

    <script>get_newsfeed(0, '');</script>
</body>
</html>