<div class="content-header">
{#            <div class="advertise">#}
{#                <div class="inner">#}
{#                    <div class="meta">#}
{#                        <a class="thumbnail" href="#">#}
{#                            <img src="https://lh4.googleusercontent.com/-UbmcJUkl-vw/AAAAAAAAAAI/AAAAAAAAAQU/g6FbmQRalys/photo.jpg">#}
{#                        </a>#}
{#                        <div class="text">#}
{#                            <span class="id_str">#}
{#                                <a href="#">jaeyoung</a>#}
{#                                <span>가 생각하기에 이 아랫놈이 그렇게 도움되는것 같습니다.</span>#}
{#                            </span>#}
{#                            <a class="date" href="#">{{ today }}</a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}

    <div class="newsfeed-more">
        <a href="#" class="load-newsfeed" data-dir="new">Load more articles...</a>
    </div>
</div>

<div class="content-middle"></div>

<div class="content-footer">
    <div class="newsfeed-more">
        <a href="#" class="load-newsfeed" data-dir="old">Load more articles...</a>
    </div>
</div>

<script>
    var request_hash = window.location.hash;
    if (!request_hash || request_hash === '#/') {
      get_newsfeed(0, '');
    }
</script>