<form class="pure-form pure-form-aligned" method="post">
    <fieldset>
        <div class="pure-control-group">
            <label for="address">Media address</label>
            <input class="pure-input-1-2" id="address" type="text" name="address" placeholder="http://www.youtube.com/watch?v=0Oi8jDMvd_w">
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">Submit</button>
        </div>
    </fieldset>
</form>

<div class="bookmarklet">
    <a href='javascript:(function(e,t){var n=e.document;setTimeout(function(){function a(e){if(e.data==="destroy_bookmarklet"){var r=n.getElementById(t);if(r){n.body.removeChild(r);r=null}}}var t="yamp_archive_iframe",r=n.getElementById(t);if(r){return}var i="http://yamp.monodiary.net/media/archive/bookmarklet?",s=n.createElement("iframe");s.id=t;s.src=i+"url="+encodeURIComponent(e.location.href);s.style.position="fixed";s.style.top="0";s.style.left="0";s.style.height="100%25";s.style.width="100%25";s.style.zIndex="16777270";s.style.border="none";s.style.visibility="hidden";s.onload=function(){this.style.visibility="visible"};n.body.appendChild(s);var o=e.addEventListener?"addEventListener":"attachEvent";var u=o=="attachEvent"?"onmessage":"message";e[o](u,a,false)},1)})(window)'>Archive to YAMP</a> < Drag this to bookmark bar!
</div>